In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/mammographic-masses/mammographic_masses.data',header=None)

In [3]:
data

     0   1  2  3  4  5
0    5  67  3  5  3  1
1    4  43  1  1  ?  1
2    5  58  4  5  3  1
3    4  28  1  1  3  0
4    5  74  1  5  ?  1
..  ..  .. .. .. .. ..
956  4  47  2  1  3  0
957  4  56  4  5  3  1
958  4  64  4  5  3  0
959  5  66  4  5  3  1
960  4  62  3  3  3  0

[961 rows x 6 columns]

In [4]:
name=['BI-RADS assessment','Age','Shape','Margin','Density','Severity']

In [5]:
data.columns=name

In [6]:
data

    BI-RADS assessment Age Shape Margin Density  Severity
0                    5  67     3      5       3         1
1                    4  43     1      1       ?         1
2                    5  58     4      5       3         1
3                    4  28     1      1       3         0
4                    5  74     1      5       ?         1
..                 ...  ..   ...    ...     ...       ...
956                  4  47     2      1       3         0
957                  4  56     4      5       3         1
958                  4  64     4      5       3         0
959                  5  66     4      5       3         1
960                  4  62     3      3       3         0

[961 rows x 6 columns]

In [7]:
data.to_csv('mammographic_masses_data.csv')